{% extends 'base.html.twig' %}

{% block title %}Gestion des Villes | {{ parent() }}{% endblock %}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
<h1>Gestion des villes</h1>

        <div class="table-responsive">
            <table class="table table-hover table-sm"
                   title="Gestion des villes">
                <thead>
                <tr>
                    <th>Villes</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for ville in villes %}
                    <tr>
                        <td>{{ ville.nom }}</td>
                        <td>
                            <a href="{{ path('sortie_affichage', {id: ville.id}) }}"
                               class="btn btn-outline-dark btn-sm btn-custom-size"
                               title="Modifier le ville">Modifier</a></td>
                        <td>
                            <a href="{{ path('sortie_affichage', {id: ville.id}) }}"
                               class="btn btn-outline-dark btn-sm btn-custom-size"
                               title="Supprimer le ville">Supprimer</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endif %}
{% endblock %}
