body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
main {
    flex: 1;
    padding: 5px;
}
footer {
    background-color: #fff;
    height: 2em;
}
ul {
    list-style-type: none; /* Supprime les puces */
    padding: 0; /* Retire les marges internes par défaut */
    margin: 0; /* Retire les marges externes par défaut */
}
