:root {
    --bs-body-font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
main {
    flex: 1;
    padding: 5px;
}
footer {
    background-color: #fff;
    height: 2em;
}
ul {
    list-style-type: none; /* Supprime les puces */
    padding: 0; /* Retire les marges internes par défaut */
    margin: 0; /* Retire les marges externes par défaut */
}
.btn-custom-size {
    width: 100px;  /* ou la taille que tu veux */
    margin: 2px;
}


fieldset {
    border: 1px solid #e7e5e5;
    background-color: #efefef;
    border-radius: 5px;
    margin: 0;
    padding: 10px;
}

@media (min-width: 768px) {
    .button-52 {
        padding: 13px 50px 13px;
    }
}